<footer class="footer-container">
    <div class="footer">
    <div class="footer__left">  
      <img class="footer__left__logo" src="../../assets/download.png" alt="" height="100" width="100"><br>
      <div class="footer__left__title">Routing Project</div>
    </div>

    <div class="footer__mid">
      <div class="footer__mid__left">
        <a class="footer__right__desc" href="#"><Address>Dhanmonddi, Dhaka</Address></a>
        <a class="footer__right__desc" href="#">Phone: 01832908662</a>
        <a class="footer__right__desc" href="#">whatsApp +880183290</a>
        <a class="footer__right__desc" href="#">Connect with Us</a>
      </div>
      <div class="footer__mid__right">
        <a class="footer__right__desc" href="#"><strong>Offer</strong></a>
        <a class="footer__right__desc" href="#">Eid Offer</a>
        <a class="footer__right__desc" href="#">New Year Offer</a>
        <a class="footer__right__desc" href="#">New Arrival</a>
      </div>
    </div>
    <div class="footer__right">
      <a class="footer__right__desc" href="#">Home</a>
      <a class="footer__right__desc" href="#">Blog</a>
      <a class="footer__right__desc" href="#">Pricing</a>
      <a class="footer__right__desc" href="#">About Us</a>
    </div>
  </div>
    <hr>

    <div class="copy-write">
      <div class="copy-write__up">
        <img class="copy-write__up--hover"  src="https://img.icons8.com/ios/40/null/facebook--v1.png"/>
        <img class="copy-write__up--hover"  src="https://img.icons8.com/ios/40/null/twitter--v1.png"/>
        <img class="copy-write__up--hover"  src="https://img.icons8.com/ios/40/null/youtube-play--v1.png"/>
        <img class="copy-write__up--hover"  src="https://img.icons8.com/ios/40/null/linkedin.png"/>
      </div>
      <div class="copy-write__down">
        <p>Copyright &copy; 2023</p>
      </div>
    </div>
  </footer>