
<div id="notfound">
    <div class="notfound">
      <div class="notfound-bg">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h1><img height="170" width="170" src="../../assets/sad.png"></h1><br />
      <h2>Error 404 : Page Not Found</h2>
      <a href="">Go Home</a>
      <div class="notfound-social">
        <a href=""><img src="https://img.icons8.com/fluency/48/000000/facebook-new.png" /></a>
        <a href=""><img src="https://img.icons8.com/color/48/000000/linkedin.png" /></a>
        <a href=""><img src="https://img.icons8.com/color/48/000000/twitter--v1.png" /></a>
        <a href=""><img src="https://img.icons8.com/fluency/48/000000/youtube-play.png" /></a>
      </div>
    </div>
  </div>
  