<nav class="navbar">
    <img  class="navbar__spacer" src="../../assets/download.png">
    <span class="navbar--spacer" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="navbar__border-bottom" routerLink="home">Home</span>
    <span class="navbar--spacer" routerLinkActive="navbar__border-bottom" routerLink="products">Product</span>
    <span class="navbar--spacer" routerLinkActive="navbar__border-bottom" routerLink="form">Reactive Form</span>
    <span class="navbar--spacer"  routerLinkActive="navbar__border-bottom" routerLink="all-countries">Country</span>
    <input class="search" type="text">
  </nav>