<main class="main">  
    <div class="main__top">
        <div class="main__top__left">
          <div class="main__top__left--big">Everything you ever<span class="main__top__left--red"> wanted to know </span>about your website...</div>
          <div class="main__top__left--medium">...but your analytics never told you.</div>
          <div class="main__top__left--normal">Numbers tell you what’s happening. Hotjar’s visual insights tell you why. So you can make the changes that matter.</div>
          <div class="main__top__left__btn">
            <span class="btn--white">Start free with email</span> 
            <span class="btn--blue">Start free with Google</span>
          </div>
         
        </div>
        <div class="main__top__right">
          <img src="../../assets/weekend.jpg" alt="">
        </div>
    </div>
</main>

